<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GrandPy Bot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <div class="container">
        <header class="pb-4 mb-4">
            <a href="/" class="text-dark text-decoration-none">
                <img class="p-4" src="{{ url_for('static', filename='favicon.ico') }}">
                <span class="p-2 fs-4">GrandPy Bot</span>
            </a>
        </header>

        <div class="p-4 mb-4 bg-light">
            <div class="container-fluid py-5" id="answer"></div>

            <section class="row">
                <h3>Dis-moi, qu'est-ce qui t'amène ici?</h3>
                <form id="form" action="/" method="GET">
                    <fieldset>
                        <div class="text">
                            <input type="search" name="question" id="question" class="col-12"
                                placeholder="Posez votre question à GrandPy..." />
                        </div>
                    </fieldset>
                </form>
            </section>
        </div>

        <footer class="footer text-muted">
            <div class="container-fluid">
                <div class="row text-center">
                    <p class="col-12">Axel Rayet</p>
                    <p>
                        <a href="https://github.com/fr0zie-OpenClassrooms/Project7">
                            <img id="github" src="{{ url_for('static', filename='img/github.png') }}" />
                        </a>
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>

<template id="result">
    <section class='col-12 dialogue'>
        <section class="col-12">
            <div class="answer alert" role="alert">
                <p class="address"></p>
                <p class="extract"></p>
            </div>
            <div class="d-inline-flex p-2 alert alert-light" role="alert">
                <p class="question"></p>
            </div>
        </section>
    </section>
</template>

</html>