<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ config.APP.NAME }}</title>
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" />
    </head>
    <body>
        <!-- Header -->
        <header class="header">
            <h1>{{ config.APP.NAME }}</h1>
        </header>

        <!-- Body -->
        <div class="content">
            <h2>Pose ta question à GrandPy Bot !</h2>
            <form>
                <div>
                    <input type="text" size="50" placeholder="Entre ta question..." />
                </div>
                <div>
                    <button type="submit">Envoyer</button>
                </div>
            </form>
        </div>

        <div class="chat">
            <!-- GrandPy Script -->>
        </div>
        
        <!-- Footer-->
        <footer class="footer">
            <div>
                <p>{{ config.APP.AUTHOR }}</p>
            </div>
            <div>
                <a href="{{ config.APP.REPOSITORY }}"><i class="fab fa-github fa-2x fa-fw"></i></a>
            </div>
        </footer>

        <script src="/static/js/scripts.js"></script>
    </body>
</html>
